name: Deploy to Railway

on:
  push:
    branches:
      - main  # or your deployment branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Railway
        uses: railwayapp/cli-action@v1.0.5
        with:
          railwayToken: ${{ secrets.RAILWAY_TOKEN  }}
          projectId: 7ba8d798-3a7c-43f9-b95e-b8f0447dcc45

